<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/imgs/icons8-animal-64.png">
</head>
<body>
<h1>ANIMALS
</h1>
<h2>choose your animal.</h2>
<div class="images-container">
    <div class="card-wrapper">
        <p class="animal-name">Lion</p>
        <a href="/lion">
            <div class="card">
                <img class="animal-images" src="/imgs/lion-pic.jpg" alt="lion">
            </div>
        </a>
    </div>
    <div class="card-wrapper">
        <p class="animal-name">Dolphin</p>
        <a href="/dolphin">
            <div class="card">
                <img class="animal-images" src="/imgs/dol.jpg" alt="dolphin">
            </div>
        </a>
    </div>
    <div class="card-wrapper">
        <p class="animal-name">Moose</p>
        <a href="/moose">
            <div class="card">
                <img class="animal-images" src="/imgs/moose.jpeg" alt="moose">
            </div>
        </a>
    </div>
    <div class="card-wrapper">
        <p class="animal-name">Crab</p>
        <a href="/crab">
            <div class="card">
                <img class="animal-images" src="/imgs/crab.jpeg" alt="crab">
            </div>
        </a>
    </div>
    <div class="card-wrapper">
        <p class="animal-name">Bear</p>
        <a href="/bear">
            <div class="card">
                <img class="animal-images" src="/imgs/bear.jpeg" alt="bear">
            </div>
        </a>
    </div>
</div>
<footer>
    <div class="link">
        <a href="https://github.com/shuresm57" target="_blank">&copy; 2025 Valdemar Støvring Sørensen. All rights reserved.</a>
    </div>
    <div class="link">
        <a href="https://dyrenesbeskyttelse.dk" target="_blank">Dyrenes Beskyttelse</a>
    </div>
</footer>
</body>
</html>