<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lion</title>
    <link rel="stylesheet" href="/css/animal-page.css">
</head>
<body class="lion">


<h1>Lion</h1>
<div class="bio">
    <p>Animal Noise: <span th:text="${lion.animalNoise}"></span></p>
    <p> Favorite Meal: <span th:text="${lion.favoriteMeal}"></span></p>
    <p> Where I Live: <span th:text="${lion.habitat}"></span></p>
</div>
<div class="text">
    <p>
        Lions, often called the "King of the Jungle," are one of the most iconic and powerful animals in the
        world. Known for their strength and majestic appearance, lions are apex predators in the African savannah.
        They live in prides, with males often serving as protectors of the group while females do most of the hunting.
        Lions primarily prey on large herbivores like wildebeest, zebras, and buffalo, using strategy and teamwork
        to bring down their prey.
    </p>
    <p>
        Lions have been symbols of power, courage, and royalty throughout human history. In many cultures, they
        are seen as representations of strength and leadership. Unfortunately, lions are now endangered in many
        parts of their range, with habitat loss and poaching being significant threats. Conservation efforts
        are crucial to ensuring the survival of these magnificent creatures, which are now found mainly in
        protected areas across sub-Saharan Africa.
    </p>
    <a class= "button" href="/index">home</a>
</div>
<div class="video">
    <iframe width="900" height="550" src="https://www.youtube.com/embed/OMkEVX23BdM?si=YG21Oy3QG68NFTaE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</body>
</html>