<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/about-page.css">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>About</h1>
<div class="buttons">
    <button>
        <a href="https://github.com/shuresm57">
            GitHub
        </a>
    </button>
    <button>
        <a href="https://www.linkedin.com/in/valdemar-st%C3%B8vring-s%C3%B8rensen-6948aa196/">
            LinkedIn
        </a>
    </button>
    <button>
        <a href="https://leetcode.com/u/shuresm57/">
            LeetCode
        </a>
    </button>
    <button>
        <a href="/home/index">
            Home
        </a>
    </button>
</div>
</body>
</html>